.slider-outer
	%h1 Slider
	.slider-inner
		.slider-content
			.slider-col.first-col
				.item{:style => "background-image: url('http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image1.jpg'); background-size: cover"}
					%h2 Title or Name
					.item-hover
						%a{:href => "#"} Info
						%span 
							|
						%a{:href => "#"} View Trailer
					-# %img{:src => "#{image_url('focus.jpg')}"}
			.slider-col
				.item{:style => "background-image: url('http://www.joomlaworks.net/images/demos/galleries/abstract/7.jpg'); background-size: cover"}
					%h2 Title or Name
					.item-hover
						%a{:href => "#"} Info
						%span
							|
						%a{:href => "#"} View Trailer
				.item{:style => "background-image: url('http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg'); background-size: cover"}
					%h2 Title or Name
					.item-hover
						%a{:href => "#"} Info
						%span 
							|
						%a{:href => "#"} View Trailer
			.slider-col
				.item{:style => "background-image: url('http://www.ac-grenoble.fr/ien.vienne1-2/spip/IMG/bmp_Image004.bmp'); background-size: cover"}
					%h2 Title or Name
					.item-hover
						%a{:href => "#"} Info
						%span 
							|
						%a{:href => "#"} View Trailer
				.item{:style => "background-image: url('https://stepupandlive.files.wordpress.com/2014/09/3d-animated-frog-image.jpg'); background-size: cover"}
					%h2 Title or Name
					.item-hover
						%a{:href => "#"} Info
						%span 
							|
						%a{:href => "#"} View Trailer
			.slider-col
				.item{:style => "background-image: url('http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg'); background-size: cover"}
					%h2 Title or Name
					.item-hover
						%a{:href => "#"} Info
						%span 
							|
						%a{:href => "#"} View Trailer
				.item{:style => "background-image: url('http://www.planwallpaper.com/static/images/canberra_hero_image.jpg'); background-size: cover"}
					%h2 Title or Name
					.item-hover
						%a{:href => "#"} Info
						%span 
							|
						%a{:href => "#"} View Trailer
			.slider-col
				.item{:style => "background-image: url('http://wowslider.com/sliders/demo-7/data/images/ny.jpg'); background-size: cover"}
					%h2 Title or Name
					.item-hover
						%a{:href => "#"} Info
						%span 
							|
						%a{:href => "#"} View Trailer
				.item{:style => "background-image: url('http://www.ucl.ac.uk/news/news-articles/1213/muscle-fibres-heart.jpg'); background-size: cover"}
					%h2 Title or Name
					.item-hover
						%a{:href => "#"} Info
						%span 
							|
						%a{:href => "#"} View Trailer
			.slider-col
				.item{:style => "background-image: url('http://clarklabs.org/images/carousel-image-6.jpg'); background-size: cover"}
					%h2 Title or Name
					.item-hover
						%a{:href => "#"} Info
						%span 
							|
						%a{:href => "#"} View Trailer
				.item{:style => "background-image: url('http://www.gettyimages.ca/gi-resources/images/Homepage/Category-Creative/UK/UK_Creative_462809583.jpg'); background-size: cover"}
					%h2 Title or Name
					.item-hover
						%a{:href => "#"} Info
						%span 
							|
						%a{:href => "#"} View Trailer
			.slider-col
				.item{:style => "background-image: url('http://saturn.jpl.nasa.gov/multimedia/missiontimeline/images/main/main_image_20.jpg'); background-size: cover"}
					%h2 Title or Name
					.item-hover
						%a{:href => "#"} Info
						%span 
							|
						%a{:href => "#"} View Trailer
				.item{:style => "background-image: url('http://www.joomlaworks.net/images/demos/galleries/abstract/7.jpg'); background-size: cover"}
					%h2 Title or Name
					.item-hover
						%a{:href => "#"} Info
						%span 
							|
						%a{:href => "#"} View Trailer
			.slider-col
				.item{:style => "background-image: url('http://cssslider.com/sliders/demo-5/data1/images/road_forest_trees_tree_trip_nature_leaves_season.jpg'); background-size: cover"}
					%h2 Title or Name
					.item-hover
						%a{:href => "#"} Info
						%span 
							|
						%a{:href => "#"} View Trailer
				.item{:style => "background-image: url('http://www.spacew.com/gallery/image006169.jpg'); background-size: cover"}
					%h2 Title or Name
					.item-hover
						%a{:href => "#"} Info
						%span 
							|
						%a{:href => "#"} View Trailer
			.slider-col
				.item{:style => "background-image: url('http://hdwallpaperia.com/wp-content/uploads/2013/12/Nature-Image-Wallpapers-HD-1024x576.jpg'); background-size: cover"}
					%h2 Title or Name
					.item-hover
						%a{:href => "#"} Info
						%span 
							|
						%a{:href => "#"} View Trailer
				.item{:style => "background-image: url('http://www.ucl.ac.uk/news/news-articles/1213/muscle-fibres-heart.jpg'); background-size: cover"}
					%h2 Title or Name
					.item-hover
						%a{:href => "#"} Info
						%span 
							|
						%a{:href => "#"} View Trailer
			.slider-col
				.item{:style => "background-image: url('http://www.gettyimages.ca/gi-resources/images/Homepage/Category-Creative/UK/UK_Creative_462809583.jpg'); background-size: cover"}
					%h2 Title or Name
					.item-hover
						%a{:href => "#"} Info
						%span 
							|
						%a{:href => "#"} View Trailer
				.item{:style => "background-image: url('https://www.wonderplugin.com/wp-content/plugins/wonderplugin-lightbox/images/demo-image1.jpg'); background-size: cover"}
					%h2 Title or Name
					.item-hover
						%a{:href => "#"} Info
						%span 
							|
						%a{:href => "#"} View Trailer
			.slider-col
				.item{:style => "background-image: url('http://blog.bnf.fr/uploads/lecteurs/2012/10/nouvelles_images.jpg'); background-size: cover"}
					%h2 Title or Name
					.item-hover
						%a{:href => "#"} Info
						%span 
							|
						%a{:href => "#"} View Trailer
				.item{:style => "background-image: url('http://wowslider.com/sliders/demo-7/data/images/ny.jpg'); background-size: cover"}
					%h2 Title or Name
					.item-hover
						%a{:href => "#"} Info
						%span 
							|
						%a{:href => "#"} View Trailer
			.slider-col
				.item{:style => "background-image: url('http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg'); background-size: cover"}
					%h2 Title or Name
					.item-hover
						%a{:href => "#"} Info
						%span 
							|
						%a{:href => "#"} View Trailer
				.item{:style => "background-image: url('http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image1.jpg'); background-size: cover"}
					%h2 Title or Name
					.item-hover
						%a{:href => "#"} Info
						%span 
							|
						%a{:href => "#"} View Trailer
			.slider-col
				.item{:style => "background-image: url('http://img.gettyimageslatam.com/public/userfiles/redesign/images/landing/home/img_entry_002.jpg'); background-size: cover"}
					%h2 Title or Name
					.item-hover
						%a{:href => "#"} Info
						%span 
							|
						%a{:href => "#"} View Trailer
				.item{:style => "background-image: url('https://stepupandlive.files.wordpress.com/2014/09/3d-animated-frog-image.jpg'); background-size: cover"}
					%h2 Title or Name
					.item-hover
						%a{:href => "#"} Info
						%span 
							|
						%a{:href => "#"} View Trailer
			.slider-col
				.item{:style => "background-image: url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRFMtHOp75mLGew8vw_dSkSFFY0kRQ7DWctdLNKe6K7FoPvH7I6bA'); background-size: cover"}
					%h2 Title or Name
					.item-hover
						%a{:href => "#"} Info
						%span 
							|
						%a{:href => "#"} View Trailer
				.item{:style => "background-image: url('http://www.planwallpaper.com/static/images/canberra_hero_image.jpg'); background-size: cover"}
					%h2 Title or Name
					.item-hover
						%a{:href => "#"} Info
						%span 
							|
						%a{:href => "#"} View Trailer
			.slider-col
				.item{:style => "background-image: url('http://saturn.jpl.nasa.gov/multimedia/missiontimeline/images/main/main_image_20.jpg'); background-size: cover"}
					%h2 Title or Name
					.item-hover
						%a{:href => "#"} Info
						%span 
							|
						%a{:href => "#"} View Trailer
				.item{:style => "background-image: url('http://blog.bnf.fr/uploads/lecteurs/2012/10/nouvelles_images.jpg'); background-size: cover"}
					%h2 Title or Name
					.item-hover
						%a{:href => "#"} Info
						%span 
							|
						%a{:href => "#"} View Trailer
	%a.slider-arrow.arrow-left{:href => "#"}
		%img{:src => "#{image_url('arrow-left.png')}"}
	%a.slider-arrow.arrow-right{:href => "#"}
		%img{:src => "#{image_url('arrow-right.png')}"}